.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  flex-direction: row;
  height: 70vh;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background-color: #333;
  color: white;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-image: url("../public/plan.jpg");
}

.content {
  background-color: #f1d8ef;
  flex-grow: 1;
  padding: 10px;
  overflow: hidden;
  height: auto;
}
